/* ===================================
        MediQR QR Page
=================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#F5F8FC;
}

.container{
display:flex;
min-height:100vh;
}

/* Sidebar */

.sidebar{
width:250px;
background:#2563EB;
color:#fff;
padding:25px;
}

.logo{
display:flex;
align-items:center;
gap:10px;
margin-bottom:40px;
}

.logo i{
font-size:32px;
}
.logo h2{

font-size:28px;

}
.sidebar ul{
list-style:none;
}

.sidebar li{
padding:15px;
margin-bottom:12px;
border-radius:12px;
cursor:pointer;
display:flex;
transition:.3s;
align-items:center;
gap:12px;
}

.sidebar li:hover{
background:rgba(255,255,255,.15);
}
.sidebar li.active{
        background:white;
        color:#2563EB;
}

/* Main */

.main{
flex:1;
padding:35px;
}

.page-title h1{
font-size:32px;
color:#222;
}

.page-title p{
color:#666;
margin-top:10px;
margin-bottom:30px;
}

/* QR Card */

.qr-card{
background:#fff;
border-radius:20px;
padding:35px;
box-shadow:0 10px 30px rgba(0,0,0,.08);
display:flex;
flex-direction:column;
align-items:center;
}

/* Patient Info */

.patient-info{
width:100%;
display:grid;
grid-template-columns:repeat(2,1fr);
gap:18px;
margin-bottom:30px;
}

.patient-info p{
background:#F5F8FC;
padding:15px;
border-radius:10px;
}

.patient-info h2{
grid-column:1/3;
color:#2563EB;
margin-bottom:10px;
}

/* Status */

.status{
background:#DCFCE7;
color:#15803D;
padding:6px 15px;
border-radius:20px;
font-size:14px;
font-weight:600;
}

/* QR */

.qr-image{
margin:20px 0;
}

.qr-image img{
width:260px;
height:260px;
border:10px solid #EEF5FF;
border-radius:20px;
}

/* Buttons */

.buttons{
display:flex;
gap:15px;
flex-wrap:wrap;
justify-content:center;
margin-top:25px;
}

.buttons button{
padding:13px 20px;
background:#2563EB;
border:none;
border-radius:10px;
color:white;
cursor:pointer;
transition:.3s;
font-size:15px;
}

.buttons button:hover{
background:#1D4ED8;
transform:translateY(-3px);
}

/* Instructions */

.instructions{
margin-top:35px;
background:#EEF5FF;
padding:25px;
border-radius:15px;
width:100%;
}

.instructions h3{
margin-bottom:15px;
color:#2563EB;
}

.instructions ul{
padding-left:20px;
}

.instructions li{
margin-bottom:10px;
color:#555;
}

/* Responsive */

@media(max-width:900px){

.container{
flex-direction:column;
}

.sidebar{
width:100%;
}

.patient-info{
grid-template-columns:1fr;
}

.patient-info h2{
grid-column:1;
}

.qr-image img{
width:220px;
height:220px;
}

.buttons{
flex-direction:column;
width:100%;
}

.buttons button{
width:100%;
}

}