/* ===========================
   MediQR Profile Page
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#F4F8FC;
}

/* Layout */

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:250px;
    background:#2563EB;
    color:white;
    padding: 25px;;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:40px;
}

.logo i{
    font-size:32px;
}
.logo h2{

font-size:28px;

}
.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    border-radius:12px;
    margin-bottom:12px;
    cursor:pointer;
    transition:.3s;
    display:flex;
    align-items:center;
    gap:12px;
}

.sidebar ul li:hover{
    background:rgba(255,255,255,.18);
}
.sidebar ul li.active{
   background:white;
   color:#2563EB;
}

/* Main */

.main{
    flex:1;
    padding:35px;
}

/* Heading */

.page-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.page-title h1{
    color:#1F2937;
}

.page-title button{
    background:#2563EB;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.page-title button:hover{
    background:#1D4ED8;
}

/* Profile Card */

.profile-card{

    background:white;
    border-radius:20px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    margin-bottom:30px;

}

.profile-card img{

    width:150px;
    height:150px;
    border-radius:50%;
    border:5px solid #2563EB;
    object-fit:cover;

}

.profile-card h2{

    margin-top:15px;

}

.profile-card p{

    color:#777;
    margin:10px 0;

}

.status{

    display:inline-block;
    margin-top:10px;
    padding:8px 18px;
    background:#DCFCE7;
    color:#15803D;
    border-radius:20px;
    font-size:14px;

}

/* Info Grid */

.info-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;

}

.info-card{

    background:white;
    border-radius:18px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.info-card h3{

    color:#2563EB;
    margin-bottom:18px;

}

.info-card p{

    margin-bottom:12px;
    color:#444;

}

.info-card strong{

    color:#111;

}

/* Responsive */

@media(max-width:900px){

.container{

    flex-direction:column;

}

.sidebar{

    width:100%;

}

.info-grid{

    grid-template-columns:1fr;

}

.page-title{

    flex-direction:column;
    gap:15px;
    align-items:flex-start;

}

}